---
// apps/demo/src/components/Counter.astro
---
<div id="counter">
  <button id="btn-dec">-</button>
  <span id="count-value">0</span>
  <button id="btn-inc">+</button>
  <button id="btn-reset">Reset</button>
</div>

<script>
  import { CounterService } from '../services/counter.service';
  import { effect } from '@astro-dx/core';
  import { on } from '@astro-dx/events';

  const countEl = document.querySelector('#count-value');
  if (countEl) {
    effect(() => {
      countEl.textContent = String(CounterService.count());
    });
  }
  on('#btn-inc', 'click', () => CounterService.increment());
  on('#btn-dec', 'click', () => CounterService.decrement());
  on('#btn-reset', 'click', () => CounterService.reset());
</script>